body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0d0345;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(35, 234, 227, 0.76);
}

.display {
    background-color: #aab808;
    color: #fff;
    padding: 20px;
    font-size: 2em;
    text-align: right;
    min-height: 50px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #ccc;
}
.hello{
    background-color: darkmagenta;

}
.clear{
    background-color: darkorange;
}

